In [1]:
# Python Notebook - Va's Draft

import numpy as np
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
import matplotlib.pyplot as plt
import seaborn as sns
import graphviz

from sklearn import tree

In [2]:
data = pd.read_csv('datapv1.csv')

In [3]:
data['extend'] = [0 if pd.isnull(x) == True else 1 for x in data['charge_time']]

In [4]:
data['shop_level'] = data['shop_level'].fillna(1)
data['free_app_installed'] = data['free_app_installed'].fillna(0)
data['paid_app_installed'] = data['paid_app_installed'].fillna(0)

In [5]:
data.head()

,shop_id,upgrade_time,package,package_type,amount,charge_time,shop_level,free_app_installed,paid_app_installed,extend
0,40716,2018-02-05 14:12:04,Ninja,yearly,0.0,NaN,1.0,4.0,4.0,0
1,7444557,2018-02-08 00:14:23,Ninja,monthly,39.0,2018-02-23 11:57:24,1.0,2.0,4.0,1
2,9475640,2018-01-16 13:05:25,Starter,yearly,200.0,2017-12-27 11:18:05,1.0,2.0,4.0,1
3,9500698,2018-02-09 11:49:16,Ninja,yearly,0.0,NaN,1.0,4.0,4.0,0
4,9506833,2018-01-08 19:57:28,Ninja,monthly,39.0,2017-06-06 00:00:00,2.0,3.0,4.0,1

In [6]:
data2 = data.drop(['shop_id', 'upgrade_time', 'charge_time', 'amount'], axis=1)
data2.head()

,package,package_type,shop_level,free_app_installed,paid_app_installed,extend
0,Ninja,yearly,1.0,4.0,4.0,0
1,Ninja,monthly,1.0,2.0,4.0,1
2,Starter,yearly,1.0,2.0,4.0,1
3,Ninja,yearly,1.0,4.0,4.0,0
4,Ninja,monthly,2.0,3.0,4.0,1

In [7]:
target = data2['extend']
data3 = data2.drop('extend', axis=1)

In [8]:
data3 = pd.get_dummies(data3, columns=['package_type'])

In [9]:
data3.head()

,package,shop_level,free_app_installed,paid_app_installed,package_type_monthly,package_type_yearly
0,Ninja,1.0,4.0,4.0,0,1
1,Ninja,1.0,2.0,4.0,1,0
2,Starter,1.0,2.0,4.0,0,1
3,Ninja,1.0,4.0,4.0,0,1
4,Ninja,2.0,3.0,4.0,1,0

In [10]:
for x in data3['package']:
    if x == 'Starter':
        data3['package_encoded'] = 0
    elif x == 'Ninja':
        data3['package_encoded'] = 1
    else:
        data3['package_encoded'] = 2

In [11]:
data3 = data3.drop(['package'], axis=1)

In [12]:
data3.isnull().any()

shop_level              False
free_app_installed      False
paid_app_installed      False
package_type_monthly    False
package_type_yearly     False
package_encoded         False
dtype: bool

In [13]:
classifier = tree.DecisionTreeClassifier(max_depth=5)
classifier = classifier.fit(data3, target)

In [14]:
import graphviz 
dot_data = tree.export_graphviz(classifier, out_file='graph2', feature_names=data3.columns, class_names=['not extend','extend'],
                               filled=True, rounded=True)

# Further explore

In [17]:
extend_by_shop_level = pysqldf("""
SELECT
    shop_level,
    COUNT(shop_id) AS shops,
    SUM(extend) AS extend,
    AVG(extend) AS extend_pct
FROM data
WHERE upgrade_time >= '2018-02-01'
GROUP BY 1
""")

In [18]:
extend_by_shop_level

   shop_level  shops  extend  extend_pct
0         1.0     47      19    0.404255
1         2.0      6       5    0.833333
2         3.0      4       3    0.750000
3         4.0      5       2    0.400000
4         5.0      4       3    0.750000